@import '../bower_components/bootstrap/dist/css/bootstrap';
@import 'reg_tags';

//font-family: 'Open Sans', sans-serif;


.container{
    background: #FfF0F0;
    width: 100%;
    padding-bottom: 100px;
}
.bummper{
    height: 800px;
    display: block;
}

.lot_small_logo{
    img{
        display: block;
        margin-left: auto;
        margin-right: auto
    }
    
}

.navbar{
    position: fixed;
}

.navbar-inverse{
    background-color: #F5F5F5;
    border-color: #F5F5F5; 
    
}

.lot_logo{
    display: block;
    width: auto;
    padding-top: 5px;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    //position: fixed;
    
}

.sc_mine{
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 300px; /* Chrome, Safari, Opera */
    -moz-column-gap: 300px; /* Firefox */
    column-gap: 300px;
    p{        
        //text-align: justify;
        //text-justify: inter-word;
    }
}

.big_logo_parent {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.big_logo{
    position: fixed;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    height: auto;
    //width: 90%;
    width: 20%;
    //max-width: 900px;
    top: 50%;
    transform: translateY(-50%);
    
    
    svg{
        //width: 70px;
        //padding-top: 10px;
        //margin: 10px 0px 0px 0px;
        //fill: blue;
        //stroke: blue;
        
        fill:#F00F02;
        stroke:#F00F02;
    }
}

@keyframe logoshrink {
    from{
        width: 90%;  
    }
    
    to{
        width: 20%;
    }
}

.mynavbar{
    background: $content-background;
    height: 40px;
    border-bottom: 1px solid $base-color;
    font-weight: 600;
}


.width-text{
    background: #498;
    width: 100%;
    
    
    &:after{
    content:"";
    position:absolute;
    top:50%;
    left:0;
    right:0;
    border-top:solid 1px red;
    z-index:-1;
    }
    
}




.lined{

    //text-align:center;
    position:relative;
    z-index:1;
    margin-bottom: 5px;
    &:after{
        content:"";
        position:absolute;
        top:50%;
        left:0;
        right:0;
        border-top:solid 3px red;
        z-index:-1;
    }
}
.textL{
    margin:0;padding:0 10px;
    background:$content-background;
    display:inline-block;
}
.textR{
    margin:0;padding:0 10px;
    background:$content-background;
    display:inline-block;
        float: right;
}
.textC{
    margin:0;padding:0 10px;
    background:$content-background;
    display:inline-block;
    position: absolute;
    left:50%;
    top:-9px;
}


