@import '../bower_components/bootstrap/dist/css/bootstrap';

body {
  //padding-top: 50px;
  //padding-bottom: 20px;
  font-family: 'Cousine', ;
  //font-weight: 700;
  color: #F00F02; 
    
    background: url("../img/hero_crop_red.gif");
    background-size: 100%;
    background-attachment:fixed;
    height: 100%;
}

.container{
    background: #fff;
    width: 100%;
}
.bummper{
    height: 800px;
    display: block;
}

.lot_small_logo{
    img{
        display: block;
        margin-left: auto;
        margin-right: auto
    }
    
}

.navbar{
    position: fixed;
}

.navbar-inverse{
    background-color: #F5F5F5;
    border-color: #F5F5F5; 
    
}

.lot_logo{
    display: block;
    width: auto;
    padding-top: 10px;
    margin: 0 auto;
    text-align: center;
    //position: fixed;
    
}

.sc_mine{
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 300px; /* Chrome, Safari, Opera */
    -moz-column-gap: 300px; /* Firefox */
    column-gap: 300px;
    p{        
        //text-align: justify;
        //text-justify: inter-word;
    }
}

.big_logo_parent {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.big_logo{
    position: fixed;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    height: auto;
    //width: 90%;
    width: 20%;
    //max-width: 900px;
    top: 50%;
    transform: translateY(-50%);
    
    
    svg{
        //width: 70px;
        //padding-top: 10px;
        //margin: 10px 0px 0px 0px;
        //fill: blue;
        //stroke: blue;
        
        fill:#F00F02;
        stroke:#F00F02;
    }
}

@keyframe logoshrink {
    from{
        width: 90%;  
    }
    
    to{
        width: 20%;
    }
}
